@using AOWebApp.Models.ViewModel
@model CustomerSearchViewModel

<h1>Customers</h1>

<form asp-controller="Customers" asp-action="Index" method="post" class="row g-2">
    <div class="col-4">
        <input name="SearchText" type="text" value="@Model.SearchText" class="form-control" placeholder="Item search..." title="Search by customer name. Max 100 chars." />
    </div>

    <div class="col-3">
        <select name="Suburb" class="form-select" title="View items for a specific category." asp-items="@Model.SuburbList">
            <option value="">All Suburbs...</option>
        </select>
    </div>

    @*<div class="col-2">
        <select name="SortOrder" class="form-select">
            <option value="" selected>Customer Name [asc]</option>
            <option value="customer_desc">Customer Name [desc]</option>
        </select>
    </div>*@

    <div class="col-3 d-flex gap-2">
        <input type="submit" value="Search" class="btn btn-outline-primary" />
        <a asp-controller="Customers" asp-action="Index" class="btn btn-outline-danger">Reset</a>
        <a class="btn btn-outline-info" asp-action="Create">Create New</a>
    </div>
</form>


<p><small class="text-muted">@Model.CustomerList.Count() items found.</small></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerList[0].Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerList[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerList[0].ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerList[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.AddressId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
